* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

header {
  text-align: center;
}

header > h1 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #F9F4DA;
}

header > p {
  font-size: 0.875rem;
  max-width: 350px;
  color: #8E8E8E
}
.status-section {
  background-color: #10A95B;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  color: #F9F4DA;
  margin-block: 30px;
}
.win-text1 {
  font-size: 1.25rem;
  margin: 5px;
}
.win-text2 {
  margin: 5px;
}
.chips-section {
  display: flex;
  max-width: 350px;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  margin-bottom: 36px;
}
.chips {
  border-radius: 3px;
  padding: 4.5px;
}
.word-section {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-bottom: 20px;
}
.letter {
  width: 40px;
  height: 40px;
  font-size: 1.15rem;
  font-weight: 700;
  background-color: #323232;
  border-bottom: 1px solid #F9F4DA;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.keyboard-section {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
  gap: 8px;
  justify-content: center;
  margin-bottom: 36px;
}
.keyboard-section > button {
  padding: 6px;
  color: #1E1E1E;
  background-color: #FCBA29;
  width: 35px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid #D7D7D7;
  cursor: pointer;
}
.new-game {
    background-color: #11B5E5;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 225px;
    height: 40px;
    padding: 6px 12px;
    display: block;
    margin-inline: auto;
    cursor: pointer;
}
.keyboard-section > button.button-correct {
  background-color: #10A95B;
}
.keyboard-section > button.button-incorrect {
  background-color: #EC5D49;
}